.App {
  text-align: center;
}

#contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar {
  background-color: #30557a;
}

.Navbar.Brand {
  font-weight: bold;
}

.Navbar.Collapse {
  justify-content: flex-end;
}

.Navbar.Nav a {
  margin-left: 10px;
}
